@model MTS.Data.Entities.Call

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Call</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Cost)
		</dt>
		<dd class="col-sm-7">
			@Html.DisplayFor(model => model.Cost.Id)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.DateStart)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.DateStart)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.DateEnd)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.DateEnd)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Client)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Client.Id)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.NumberOfMinutes)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.NumberOfMinutes)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.PreferentialNumberOfMinutes)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.PreferentialNumberOfMinutes)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Sum)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Sum)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Payment.Date)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.Payment.Date)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
